.nav-tabs .nav-item {
    margin-bottom: 0;
}
.nav-tabs .nav-link {
    border: 8px;
    border-color: #0A0B0B;
    padding: 1rem 1rem;
    background-color: white;
}
.nav-tabs .nav-link.active {
    color: white;
    background-color: #231942;
}
.nav-tabs.nav-dark .nav-link.active {
    color: white;
    background-color: #12358a;
}
.nav-tabs.nav-light .nav-link.active {
    color: black;
    background-color: gray;
}
.nav-tabs.nav-light .nav-link:hover {
    color: black;
}