
<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary pt-4 navbar-dark">
        <div class="container position-relative">
            <div class="navbar-collapse collapse me-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/dashboard">
                                <img src="/static/assets/img/brand/light.svg" alt="Volt logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item me-2">
                        <a href="dashboard.html" class="nav-link">Dashboard</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item me-2">
                            <a href="/admin/auth/user/" class="nav-link">Admin</a>
                        </li>
                    {% else %}
                        <li class="nav-item me-2">
                            <a href="/settings.html" class="nav-link">Configuracion</a>
                        </li>
                    {% endif %}      
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center ms-auto">
                <div id ="cerrar" style="Display:none;">
                <a onClick="Logout()" class="btn btn-outline-white d-inline-flex align-items-center me-md-3">Logout</a>
                </div>

                <div id="iniciar">
                <a href="{% url 'login' %}" 
                   class="btn btn-outline-white d-inline-flex align-items-center me-md-3">
                    Iniciar sesión
                </a>
                </div>
          
                
            </div>
        </div>
    </nav>
</header>
<script src="https://code.jquery.com/jquery-3.6.3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
 $( document ).ready(function() {
    console.log( "ready!" );
    sesiones();
});
function sesiones(){
    
    token = localStorage.getItem('token')

    if (token){
        document.getElementById("cerrar").style.display = '';
        document.getElementById("iniciar").style.display = 'none';
    }
    else{
        document.getElementById("iniciar").style.display = '';
        document.getElementById("cerrar").style.display = 'none';
    }
}
vacio = ""

const configin2 = {
headers: {
    'Authorization': `Token ${localStorage.getItem('token')}`
    },
};
    
function Logout(){

    axios.post('http://192.168.2.24:8001/logout_api/',vacio,configin2)
  .then(function (response) {
    // manejar respuesta exitosa
    console.log(response);
    localStorage.removeItem('token');
    localStorage.removeItem('usuario');
    location.reload()

  })
  .catch(function (error) {
    // manejar error
    console.log(error);
  })
  .finally(function () {
    // siempre sera executado
  });   
    
} 

</script>
