<!--s
    s
    s-->
    <nav id="nav1" style="background-color: #231942; overflow-x: hidden;"  id="sidebarMenu" class="sidebar d-lg-block bg-gray text-white collapse" data-simplebar>
        <div style="background-color: #231942;overflow-x: hidden;" class="sidebar-inner px-4 pt-3">
            <div class="user-card d-flex d-md-none justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="avatar-lg me-4">
                <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Bonnie Green">
                </div>
                <div class="d-block">
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <svg class="icon icon-xs" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
            </div>
            </div>
            <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item">
                <a href="/" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <img src="/static/assets/img/brand/light.svg" height="20" width="20" alt="Volt Logo">
                </span>
                <span class="mt-1 sidebar-text">Sistema Arrendify</span>
                </a>
            </li>
    
            <li class="nav-item">
                <span class="nav-link  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-pages2">
                <span>
                    <span class="sidebar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-app-indicator" viewBox="0 0 16 16">
                            <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"/>
                            <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          </svg>
                    </span>
                    <span class="sidebar-text">INQUILINOS</span>
                </span>
                <span class="link-arrow">
                    <svg class="icon icon-sm" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </span>
                </span>
                <div class="multi-level collapse {% if 'dashboard' in segment %} show {% endif %} " role="list" id="submenu-pages2" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item {% if 'inquilinos.html' in segment %} active {% endif %}">
                            <a href="/inquilinos/" class="nav-link d-flex align-items-center justify-content-between">
                                <span>
                                <span class="sidebar-icon">
                                    <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                                </span>
                                {% comment %} <span class="sidebar-text">Registro P. Fisica</span> {% endcomment %}
                                <span class="sidebar-text">Inquilino</span>
                                </span>
                            </a>
                        </li>
                        
                        <li class="nav-item {% if 'MSFO.html' in segment %} active {% endif %}">
                            <a href="/fiador_obligado/" class="nav-link d-flex align-items-center justify-content-between">
                                <span>
                                <span class="sidebar-icon">
                                    <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                                </span>
                                <span class="sidebar-text">Fiador/Obligado</span>
                                </span>
                            </a>
                        </li>
                                            
                    </ul>
                </div>
            </li>

           
<li class="nav-item">
    <span class="nav-link  d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-property">
    <span>
        <span class="sidebar-icon">
        <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/><path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/></svg>
        </span>
        <span class="sidebar-text">ARRENDADORES</span>
    </span>
    <span class="link-arrow">
        <svg class="icon icon-sm" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </span>
    </span>
    <div class="multi-level collapse {% if 'dashboard' in segment %} show {% endif %} " role="list" id="submenu-property" aria-expanded="false">
        <ul class="flex-column nav">
           <li class="nav-item {% if 'arrendador.html' in segment %} active {% endif %}">
                            <a href="/arrendadores/" class="nav-link d-flex align-items-center justify-content-between">
                                <span>
                                <span class="sidebar-icon">
                                    <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                                </span>
                                <span class="sidebar-text">Arrendador</span>
                                </span>
                            </a>
                        </li> 
            <li class="nav-item {% if 'tabla-inmuebles.html' in segment %} active {% endif %}">
                <a href="/inmuebles/" class="nav-link d-flex align-items-center justify-content-between">
                    <span>
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 12v-2h3v2H6z"/><path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM3 9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2H3V9z"/></svg>
                    </span>
                    <span class="sidebar-text">Inmuebles</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</li>
<!--Termina -->         
            <li class="nav-item {% if 'cotizacion.html' in segment %} active {% endif %}">
                <a href="/cotizacion/" class="nav-link">
                <span class="sidebar-icon">
                    <svg class=" icon icon-xs me-2 bi bi-list-check" fill="gray"  viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                      </svg>
                
                </span>
                <span class="sidebar-text">COTIZACIÓN</span>
                </a>
            </li>
    
            {% comment %} <li class="nav-item {% if 'user_list.html' in segment %} active {% endif %}">
                <a href="/user_list.html" class="nav-link">
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                </span>
                <span class="sidebar-text">Listado de Usuarios</span>
                </a>
            </li> {% endcomment %}

            <li id="inv" class="nav-item {% if 'user_list.html' in segment %} active {% endif %}">
             
            </li>
     
            {% comment %} <li class="nav-item {% if 'settings.html' in segment %} active {% endif %} mb-6">
                <a href="/settings.html" class="nav-link">
                    <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                    </span>
                    <span class="sidebar-text">Perfil</span>
                </a>
            </li> {% endcomment %}
        
         
            {% comment %} <li role="separator" class="dropdown-divider mt-9 mb-3 border-gray-700"></li> {% endcomment %}
            {% comment %} <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link">
                  <span class="sidebar-icon">
                      <svg class="icon icon-xs text-danger me-2" fill="none" stroke="gray" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                      </svg> 
                  </span>
                  <span class="sidebar-text">Logout</span>
              </a>
            </li>   {% endcomment %}
    
            {% comment %} <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
            <li class="nav-item">
                <a href="/contacto.html"
                     class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                    </span>
                    <span class="sidebar-text">Contactactanos</span>
                </a>
            </li> {% endcomment %}
            
                </a>
            </li>
            <li class="nav-item {% if 'arrendador.html' in segment %} active {% endif %}">
                <a href="/datos_arrendamiento/" class="nav-link d-flex align-items-center justify-content-between">
                    <span>
                        <span class="sidebar-icon">
                            <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                        </span>
                        <span class="sidebar-text">Datos arrendamiento</span>
                    </span>
                </a>
            </li>
            <li class="nav-item {% if 'arrendador.html' in segment %} active {% endif %}">
                <a href="/investigacion_arrendadores/" class="nav-link d-flex align-items-center justify-content-between">
                    <span>
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
                    </span>
                    <span class="sidebar-text">Investigacion</span>
                    </span>
                </a>
            </li>
            </ul>
            
        </div>
    </nav>
<script>
    let tok = localStorage.getItem('token')
    let us =  JSON.parse(localStorage.getItem('usuario'));  
        document.getElementById("nav1").onload = usurero()
    function usurero()
    {
        if(us.username == "Arrendatario1" || us.username == "Legal" || us.username == "Ventas"){
            
            let inve = document.getElementById("inv");
            inve.innerHTML = ` <li class="nav-item {% if 'user_list.html' in segment %} active {% endif %}">
                <a href="/investigacion/" class="nav-link">
                <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                </span>
                <span class="sidebar-text">INVESTIGACIÓN</span>
                </a>
            </li>`

        }
    }
</script>