{% extends "layouts/base-fullscreen.html" %}

{% block title %} Forgot Password {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center form-bg-image" style="background-image: url('/static/assets/img/illustrations/signin.svg'); background-size: cover;">
            <p class="text-center"><a href="/login/" class="d-flex align-items-center justify-content-center">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
                    Atrás para iniciar sesión
                </a>
            </p>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="signin-inner my-3 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                    <h1 class="h3">¿Olvidaste tu contraseña?</h1>
                    <p class="mb-4">¡No te preocupes! ¡Simplemente escriba su correo electrónico y le enviaremos un código para restablecer su contraseña!</p>
                    <form action="post" id="form_recuperar_password">
                        <!-- Form -->
                        <div class="mb-4">
                            <label for="email">Tú Email</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="email" placeholder="john@company.com" required autofocus>
                            </div>  
                        </div>
                        <!-- End of Form -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-gray-800">Recuperar contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
const server = 'http://192.168.2.14:8001'
    const configin = {
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
        },
    }; 

const form_recuperar_password = document.getElementById('form_recuperar_password');

form_recuperar_password.addEventListener('submit', function(event){
    event.preventDefault();
    const email = document.getElementById('email').value;
    const data = {
        'email': email
    };
    enviar_recupera_password(data);
});

const enviar_recupera_password = async (data) => {
    try {
        console.log(data);
        const response = await axios.post(`${server}/RecuperarPassword/recupera_password/`, data, configin);
        //Swal.fire(
        //    'Revisa tu correo',
        //    'Ahí encontraras un link para recuperar tu password',
        //    'question'
        //    )
        console.log("Soy response", response.data)
        if(response.data.message === "Ya se ha enviado una solicitud de recuperación de contraseña."){
            Swal.fire({
                icon: 'error',
                title: 'Ya hay una solicitud enviada',
                text: 'Vuelve a intentarlo en 30 minutos!',
            });
        }else{
            Swal.fire({
                icon: 'info',
                title: 'Revisa tu correo',
                text: 'Ahí vendran los detalles para recuperar tu contraseña.',
                showConfirmButton: false,
                timer: 6000,
                timerProgressBar: true,
                position: 'center',
                showCloseButton: true,
                customClass: {
                    popup: 'swal-popup-class',
                    title: 'swal-title-class',
                    content: 'swal-content-class',
                    closeButton: 'swal-close-button-class'
                }
            });
            console.log(response.data);
        } 
    } catch (error) {
        
        console.log(error);
    }
};


</script>
{% endblock javascripts %}
