{% extends "layouts/base-fullscreen.html" %}

{% block title %} Inicio de sesión {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <!-- Section -->
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">
                </p>
                <div class="row justify-content-center form-bg-image" data-background-lg="/static/assets/img/illustrations/signin.svg" >
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Sistema de Gestión Inmobiliaria<br> <a href="http://www.arrendify.com"  target="_blank" style="color:blue"> ¡Arrendify! </a> <br>
                                </h1>
                                <br/>
                                <span class="mb-0 text-muted">
                                    {% if msg %}
                                    <span style="color:red">
                                        {{ msg | safe }}
                                      </span>
                                    {% else %}
                                        Ingresa tus credenciales
                                    {% endif %}
                                </span>
                            </div>
                            <form method="post" id="form_login" action="" class="mt-4">

                                {% csrf_token %}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Usuario</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                                        </span>
                                        <input type="text" class="form-control" id="username" name="username"required>

                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                                            </span>
                                            <input name="password" type="password" id="password" class="form-control" aria-labelledby="passwordHelpBlock">
                                        </div>
                                        <div class="" style="margin-left:210px;">
                                            <label class="form-check-label mb-0" for="remember">¿Mostrar contraseña?</label>
                                            <input class="form-check-input" type="checkbox" onChange="mostrarContra()" id="remember" >
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-top mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember" checked>
                                            <label class="form-check-label mb-0 " for="remember">
                                            ¿Mantener sesión iniciada?
                                            </label>
                                        </div>
                                        <div>
                                            <a href="{% url 'register' %}" class="small text-right">Crear cuenta</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="login" id="btn_sub" class="btn btn-gray-800">Inicia Sesión</button>
                                </div>
                            </form>
                            <br/>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <a href="/recuperar_password/" type="button" class="btn btn-link text-success">Recuperar contraseña</a>
                            </div>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    &copy; all reserved copyright Arrendify
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function mostrarContra(){
    var tipo = document.getElementById("password");
      if(tipo.type == "password"){
          tipo.type = "text";
      }else{
          tipo.type = "password";
      }
}
const server = 'http://192.168.2.14:8001'
const configin = {
headers: {
    'Content-Type': 'application/json',
    'Accept': 'application/json',
 },
};

btn = document.getElementById("btn_sub")

    btn.addEventListener("click", function (event) {
        event.preventDefault(); 
        console.log("Login jojojo")
        let data = {
            'username': document.getElementById("username").value,
            'password': document.getElementById("password").value
        };    
            enviar_datos(data)
    })

    function enviar_datos(data) {
    axios.post(`${server}/login_api/`, data,configin)
    .then(response => {
        console.log("Inicio de sesión exitoso",response) 
        localStorage.setItem('token', response.data.token);
        localStorage.setItem('usuario', JSON.stringify(response.data.user));
        console.log("Local:",localStorage)
        window.location.href = '/dashboard.html'
    })
    .catch(error => {
        console.log("Contraseña o nombre de usuario incorrectos")
        console.log("No se inicio la sesión")
        // Hacer algo después del inicio de sesión fallido
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Contraseña o nombre de usuario incorrectos!',
          })
    });
    
    }
</script>

{% endblock javascripts %}
